{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="jumbotron jumbotron-custom">
            <h1 class="display-4">Create your Phone Book here!</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dolor obcaecati placeat sequi vel. Accusamus atque, blanditiis deleniti dolor doloribus earum id iure minima optio quasi qui repudiandae voluptatem voluptatibus. Alias autem consequatur explicabo in officia quod reiciendis, soluta ut?</p>
            <p class="lead">
                <a href="{{ path("app_register") }}"><button class="btn website-btn">Join Now</button></a>
            </p>
        </div>
    </div>
{% endblock %}