{% extends 'base.html.twig' %}

{% block title %}New PhoneBookRecord{% endblock %}

{% block body %}
    <h1>Create new PhoneBookRecord</h1>

    {{ include('phone_book_record_test/_form.html.twig') }}

    <a href="{{ path('phone_book_record_test_index') }}">back to list</a>
{% endblock %}
